.badge-info{
    background-color: #f3f7ff;
    color: #768095;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    font-weight: normal;
}
.badge-primary{
    background-color: #f3f7ff;
    color: #0065ff;
    font-size: 12px;
    line-height: 12px;
    padding-left: 7px;
    padding-right: 7px;
    letter-spacing: 0px;
    font-weight: normal;
    border-radius: 14px;
    min-width: 80px;
}
.badge-lead{
    background-color: #f6f6f6;
    color: #666666;
    font-size: 12px;
    line-height: 12px;
    padding-left: 7px;
    padding-right: 7px;
    letter-spacing: 0px;
    font-weight: normal;
    border-radius: 14px;
    min-width: 80px;
}