.header{
    height: 70px;
    background-color: $white;
    padding-left: 110px;
    font-family: 'Roboto', sans-serif; 
    box-shadow: 0px 1px 0px 0px #e0e0e0;
        padding-top: 21px;
        color: #a5abb7;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
        vertical-align: text-bottom;
        img{
            margin-right: 7px;
        }
    .icons-right{
        img{
            padding-right:27px
        }
    }
}